@model Web_Đồ_An.Models.Customer
@using Web_Đồ_An.Models.EF;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var order = ViewBag.order as List<Order>;
    var orderDetailsViews = ViewBag.orderDetailsViews as List<ProductDetailViewModel>;
}
<link rel="stylesheet" href="~/assets/css/vendor/font-awesome.min.css" />
<link rel="stylesheet" href="~/assets/css/vendor/Pe-icon-7-stroke.css" />

<!-- Plugin CSS (Global Plugins Files) -->
<link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
<link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
<link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
<link rel="stylesheet" href="~/assets/css/plugins/nice-select.css">
<link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.min.css" />

<!-- Style CSS -->
<link rel="stylesheet" href="~/assets/css/style.css">

<link rel="stylesheet" type="text/css" href="~/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

           

            <main class="main-content">
                <div class="account-page-area section-space-y-axis-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Thông tin tài khoản</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Đơn hàng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Hồ sơ</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-9">
                                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                    <div class="tab-pane fade active show" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                                        @if (Model != null)
                                        {
                                            <div class="myaccount-dashboard">
                                                <p>
                                                    Họ và tên: @Model.Fullname
                                                </p>
                                                <p>
                                                    Email : @Model.Email
                                                </p>
                                                <p>
                                                    Đại chỉ : @Model.Address
                                                </p>
                                                <p>
                                                    Số điện thoại : @Model.Phone
                                                </p>
                                            </div>
                                        }
                                    </div>

                                    <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                        <div class="myaccount-orders">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Ngày đặt</th>
                                                            <th>Trạng thái</th>
                                                            <th>Thành tiền</th>
                                                            <th></th>
                                                        </tr>
                                                        @foreach (var item in order)
                                                        {
                                                            <tr>
                                                                <td><a class="account-order-id" href="javascript:void(0)">@item.Code</a></td>
                                                                <td>@string.Format("{0:dd/MM/yyy}", item.CreatedDate)</td>
                                                                <td>@(item.TypePayment == 1 ? "Chờ thành toán" : (item.TypePayment == 2 ? "Đã thanh toán" : "Hủy đơn hàng"))</td>
                                                                <td> @Web_Đồ_An.Common.Common.FormatNumber(item.TotalAmount, 0) VND</td>
                                                                <td>
                                                                    <a asp-action="orderDetail" asp-route-id="@item.OderId" class="btn btn-secondary btn-primary-hover"><span>Xem</span></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                        <div class="myaccount-details">
                                            <form asp-action="Edit" method="post" class="myaccount-form">
                                                <div class="myaccount-form-inner">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="CustomerID" />
                                                    <div class="single-input single-input-half">
                                                        <label asp-for="Fullname" class="control-label">Họ và tên</label>
                                                        <input asp-for="Fullname" class="form-control" />
                                                        <span asp-validation-for="Fullname" class="text-danger"></span>
                                                    </div>
                                                    <div class="single-input single-input-half">
                                                        <label asp-for="Email" class="control-label">Email</label>
                                                        <input asp-for="Email" readonly class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                    <div class="single-input single-input-half">
                                                        <label asp-for="Brithday" class="control-label">Ngày sinh</label>
                                                        <input asp-for="Brithday" class="form-control" />
                                                        <span asp-validation-for="Brithday" class="text-danger"></span>
                                                    </div>
                                                    <div class="single-input single-input-half">
                                                        <label asp-for="Phone" class="control-label">Số điện thoại</label>
                                                        <input asp-for="Phone" class="form-control" />
                                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                                    </div>
                                                    <div class="single-input">
                                                        <label asp-for="Address" class="control-label">Địa chỉ</label>
                                                        <input asp-for="Address" class="form-control" />
                                                        <span asp-validation-for="Address" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group" style="display:none;">
                                                        <label asp-for="Password" class="control-label">Mật khẩu</label>
                                                        <input asp-for="Password" class="form-control" />
                                                        <span asp-validation-for="Password" class="text-danger"></span>
                                                    </div>
                                                    <div class="single-input">
                                                        <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                                                            <span>Lưu</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
   </div>
</div>



<style>
    .myaccount-dashboard p{
        color: black;
    }
    .myaccount-tab-trigger li a {
        border: solid 1px #ebebeb;
        display: block;
        background: #ffffff;
        color: #212529;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 20px;
    }
    .img-product-detail {
        height: 100px;
        width: 150px;
    }

    .myaccount-orders.d-flex {
        border-top: 1px solid #E8E8E8;
        padding: 10px 0;
        border-bottom: 1px solid #E8E8E8;
        margin-bottom: 2rem;
        background: white;
    }

    .section-space-y-axis-100 {
        /* background: #f5f5f5; */
        padding-top: 4rem;
    }

    p {
        margin-bottom: 0px;
        font-size: 18px;
    }

       

    .col-md-4 {
        padding: 0px;
        text-align: right;
    }

    .old-price {
        margin: 0 4px 0 0;
    }

    p.totalPrice {
        font-size: 17px;
    }

</style>
<script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="~/assets/js/vendor/jquery.waypoints.js"></script>

<!--Plugins JS-->
<script src="~/assets/js/plugins/wow.min.js"></script>
<script src="~/assets/js/plugins/jquery-ui.min.js"></script>
<script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="~/assets/js/plugins/jquery.nice-select.js"></script>
<script src="~/assets/js/plugins/parallax.min.js"></script>
<script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!--Main JS (Common Activation Codes)-->
<script src="assets/js/main.js"></script>


