@model IEnumerable<Web_Đồ_An.Models.AppUserModel>


@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tài khoản</h3>

            <div class="card-tools">
                <a href="/admin/account/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tài khoản</th>
                        <th>Email</th>
                        
                        <th style="width:100px;">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>@i</td>
                               
                                <td>@item.UserName</td>

                                <td>@item.Email</td>
                                <td>
                                    <a class="btn-sm btn-info btn-delete" data-id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>

                                </td>
                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>

        //xóa nhiều bản ghi
        $(document).ready(function () {


          
            $('.btn-delete').on('click', function (e) {
                e.preventDefault();

                var id = $(this).data('id');
                var deleteUrl = '/admin/account/delete';

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: "Bạn có chắc muốn xoá bản ghi?",
                    showCancelButton: true,
                    confirmButtonText: "Xoá",
                    cancelButtonText: "Không",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: deleteUrl,
                            type: 'POST',
                            data: { id: id },
                            success: function (response) {
                                if (response.success) {
                                    swalWithBootstrapButtons.fire({
                                        text: "Bạn đã xoá thành công!",
                                        icon: "success"
                                    }).then(() => {
                                        location.reload();
                                    });
                                } else {
                                    swalWithBootstrapButtons.fire({
                                        title: "Bản ghi đã được sử dụng!",
                                        text: "Bạn không thể xoá bản ghi.",
                                        icon: "error"
                                    });
                                }
                            },
                        });
                    }
                });
            });


            });
    </script>
    }